/*====================navbar items=========================*/
.navbar {
    background-color: lightslategray;
    color: whitesmoke;
}

.navText {
    position: relative;
    margin: auto;
}

/* ===================mainConatiner========================== */

.container {
    top: 50px;
    left: 200px;
    position: relative;
    margin: auto;
    width: 100vw;
    display: inline-flex;
}


/*====================searchContainer=========================*/

.searchContainer {
    margin: auto;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: lightslategrey;
    color: white;
}


/*====================weatherContainer=========================*/

.weatherContainer {
    margin: auto;
    position: relative;
    background-color: rgba(248, 248, 255, 0.637);
    width: 900px;
    height: 400px;
    color: black;
}


/*====================dateContainer=========================*/
.dateContainer{
    margin: auto;
    position: relative;
    display: inline-table;
}

#date {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

.card {
    display: inline-table;
}

.forcastContainer {
    top: 20px;
    position: relative;
    margin: auto;
}

/*====================footer========================*/
