* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/weatherbg.jpeg);
  background-size: auto;
  background-position: top center;
  font-family: "Comfortaa", cursive;
}

header {
  display: inline-block;
  padding: 50px 15px 15px;
  text-align: center;
}

.search-box {
  align-items: center;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 15px 15px;
  outline: none;
  background-color: #b4eaff;
  border-radius: 15px;
  border-bottom: 3px solid #000000;
  color: #060114;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

header input:focus {
  background-color: #ffffff;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.location .date {
  color: #ffffff;
  font-size: 1.5rem;
}

.current .temp {
  color: #ffffff;
  font-size: 6rem;
  margin: 10px 0px;
  text-shadow: 4px 4px #313030b3;
  font-family: 'Montserrat', sans-serif;
}

.current {
    color: #ffffff;
    font-size: 1.75rem;
    text-shadow: 0px 3px #313030b3;
    font-family: 'Montserrat', sans-serif;
  }

  .degree {
      font-size: 2rem;
  }

  .hi {
    font-size: 1rem;
  }